<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/" method="post">
  <div class="form-group">
    <label for="titlw">Title</label>
    <input class="form-control" type="text" name="newTitle" />
    <label for="post">Post</label>
    <textarea
      class="form-control"
      name="newPost"
      id="post"
      cols="100"
      rows="7"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>
